@import defaults.sass
@import 960/text.sass
+text
body
  :background-color #c8eafa
  :background-image url(/images/background.png)
  :background-repeat no-repeat
  :background-position top center
  :color #111
  :margin 0
  :padding 0
  :font-size 100%

a
  :color #d40
  :font-weight bold
  img
    :border 0

#footer
  :text-align center
  :color #666
  :padding-bottom 1.5em
#header
  :text-align right
#header a
  :font-size 3em
  :text-decoration none
  :margin 0
  :padding 0

#navigation
  :vertical-align bottom
  :text-align right
  li
    :padding-right 0.3em
    :display inline
  a
    :text-decoration none
    &:hover
      :color 000

h1, h2, .description, .help
  :background-color #c8eafa
  :color= #c8eafa - #aaa
  :padding 3px 0 3px 10px

.flash
  :padding 4px 8px
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  :border-radius 4px
  :border 2px solid #ccc
  &.error
    :background #fcc
    :border-color #911
    :color #311

  &.notice
    :background #cfc
    :border-color #191
    :color #131
