%title= head_title('vote.ananasblau')

%meta{ :name=>:description, :content => 'Create votes and small surveys for Twitter' }
%meta{ :name=>:description, :content => 'voting,surveys,twitter' }
= stylesheet_link_tag %w(application forms), :cache => 'cache/all.js'