%title= head_title(t(:'app.title'))

%meta{ :name=>:description, :content => t(:'app.meta.description') }
%meta{ :name=>:keywords, :content => t(:'app.meta.keywords') }
= stylesheet_link_tag %w(layout application forms), :cache => 'cache/all.js'