%h1= title('About')

%p
  vote4.ananasblau is a project by Thomas R. Koll, Rails developer from Vienna, Austria.
  The application is intended to be a simple tool to create votings and let other Twitterer's vote.

%h2 Contact

%p
  Feel free to send a mail to 
  = link_to "info@ananasblau.com", "mailto:info@ananasblau.com"
  or contact TomK32 on 
  = link_to "Twitter", "http://twitter.com/TomK32"
  , IRC or Skype.

%h2 Upcoming features
%ul
  %li moderate your votings
  %li request current result via Twitter
  %li
    private votings
    %ul
      %li result disclosed until it's finished
      %li voter names disclosed
      %li vote via direct message
  %li end votings
  %li special votings for e.g. twitpics
  %li funny charts and statistics
  %li custumizable design
