%li
  = t(:'votes.by', {:option => vote.option, :user => link_to(vote.user_login, user_path(vote.user_login))})
  = link_to(vote.voting.question, user_voting_url(vote.user_login, vote.voting.permalink)) unless @voting